#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.clear-fix {
  clear: both;
}

.card {
  padding: 2em;
}

.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  flex: 1 75px;
}

.deal-btn:hover {
  border-color: #646cff;
}

.deal-btn:active {
  background-color: #646cff;
}

.replace-btn:not(:disabled) {
  background-color: #ffc107;
}

.replace-btn:not(:disabled):active {
  background-color: #d39e00;
}

.replace-btn:not(:disabled):hover {
  border-color: #c69500;
}
